""" The libraries are essential for the functionality of the CyberShield-CTI Engine, 
which includes web scraping, text processing, and interaction with the VirusTotal API."""
requests
beautifulsoup4
iocextract
sumy
nltk
numpy
warnings
base64
time
os
logging
load_dotenv